@font-face {
  font-family: "BeaufortforLOL_BoldItalic";
  src: url(/fonts/BeaufortforLOL-BoldItalic.otf);
}
@font-face {
  font-family: "Spiegel";
  src: url(/font\ description/Spiegel_TT_Regular.ttf);
}
@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url(/fonts/BeaufortforLOL-Bold.otf);
}
@font-face {
  font-family: "BeaufortforLOL-Heavy";
  src: url(/fonts/BeaufortforLOL-Heavy.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background-image: url(/background/league_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.top_cover {
  background-color: #000000;
  display: flex;
  text-align: left;
  width: 100vw;
  padding: 0px;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1000;
}
.head h1 {
  text-align: center;
  margin-bottom: 5px;
}
.title {
  font-size: 90px;
  color: #daa520;
  font-weight: 700;
  display: block;
  font-style: italic;
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
}
.subtitle {
  font-size: 30px;
  font-family: "BeaufortforLOL-Heavy", sans-serif;
  color: darkorange;
  margin-top: 4px;
  opacity: 0.95;
  line-height: 1.6;
  margin-bottom: 13px;
}
.cards {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 500px));
  justify-content: center;
  gap: 80px;

  padding-bottom: 36;
  margin-bottom: 45px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;

  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  background: linear-gradient(
    135deg,
    #2ec4b6,
    /* teal-green */ #7ed957,
    /* bright jungle green */ #ff6fae,
    /* pink */ #b44cff /* purple-magenta */
  );
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}
.champ-title h3 {
  font-size: 1.17em;
  font-weight: bold;
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
  color: gold;
  font-style: italic;
}
.profile-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.content {
  padding: 24px;
  line-height: 1.55;
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  gap: 12px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.name {
  font-size: 22px;
  line-height: 1.2;
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
}
.badge-supp {
  display: inline-block;
  font-size: 12px;
}
.supp-icon {
  width: 50px;
  height: 50px;
}
.badge-jungle {
  display: inline-block;
  font-size: 12px;
}
.jungle-icon {
  width: 50px;
  height: 50px;
}
.badge-top {
  display: inline-block;
  font-size: 12px;
}
.top-icon {
  width: 50px;
  height: 50px;
}
.badge-bot {
  display: inline-block;
  font-size: 12px;
}
.bot-icon {
  width: 50px;
  height: 50px;
}
.mid-icon {
  width: 50px;
  height: 50px;
}
.badge-mid {
  display: inline-block;
  font-size: 12px;
}
.badge {
  display: inline-block;
  font-size: 12px;
  padding: 6px 12px;
  border: 999px;
  background: rgb(255, 255, 255);
  white-space: nowrap;
}
.tagline {
  font-size: 17px;
  margin-bottom: 14px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: "BeaufortforLOL-Heavy";
}
.about-me {
  font-size: 16px;
  color: black;
  margin-bottom: 18px;
  margin-top: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: "Spiegel", sans-serif;
}
.ability {
  margin-bottom: 18px;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: "Spiegel", sans-serif;
}

.ability p {
  margin-bottom: 6px;
}
.wiki {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.wiki a:hover {
  background-color: aliceblue;
  color: black;
  transform: translateY(-2px);
}
.wiki a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #ffdc00;
  padding: 10px 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  text-align: center;
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
}
.AB {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
}
.card.vi {
  background: linear-gradient(135deg, #d6006e, #b00020, #000000);
}

.card.kled {
  background: linear-gradient(135deg, #8b0000, #a0522d);
}
.card.jhin {
  background: linear-gradient(135deg, #4b0082, #b76e79);
}
.card.sylas {
  background: linear-gradient(135deg, #4b4b4b, #6a0dad);
}
.card.rakan {
  background: linear-gradient(135deg, #228b22, #1e90ff);
}
.Bold-ab {
  font-family: "BeaufortforLOL_BoldItalic", sans-serif;
}
.icon_image {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1500px) {
  .title {
    font-size: 60px;
    line-height: 1;
  }

  .subtitle {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  }
}

@media (max-width: 720px) {
  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(2, minmax(280px, 250px));
  }
}

/* Phones */
@media (max-width: 620px) {
  .title {
    font-size: 40px;
    line-height: 0.9;
  }

  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(1, minmax(280px, 320px));
  }

  .bottom p {
    display: none;
  }
}
.footrer{
  
}